---
layout: default
---

<section class="section">
  <div class="container content">
    <h1 class="title">Hey, I am Mark Brady! 👋</h1>
    <p>
      I am a London based software engineer who loves building web applications 
      in highly collaborative teams.
    </p>
    <p>
      I have over a decade of experience building full-stack web applications. 
      My expertise mainly centers on using the .NET stack, 
      but I always embrace the opportunity to learn new technologies.
    </p>
    <p>
      In addition to creating full-stack web applications, I have a particular passion for:
    </p>
    <ul>
      <li>Automating boring tasks</li>
      <li>Building infrastructure as code</li>
      <li>Finding and securing software vulnerabilities</li>
      <li>Leading teams and coaching others</li>
    </ul>
    <p>
      I write about software engineering, cyber security and leadership 
      on <a href="https://www.inkyvoxel.com" target="_blank">inkyvoxel.com</a>.
    </p>
    <p>
      Content and opinions on this website are my own.
    </p>
  </div>
</section>

{{ content }}