---
layout: default
---

<section class="section">
  <div class="container content">
    <h1 class="title">Hey, I am Mark! 👋</h1>
    <p>
      I am a London based software engineer who loves DevOps culture,
      cyber security, and working in highly collaborative teams.
    </p>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h1 class="title">Get to know me better</h1>
    <p>
      My name is Mark Brady. I have been building web applications for over 10 years. 
      Most of my experience is with building software using the .NET stack.
    </p>

    <p>
      I have a keen interest in automation, DevOps culture, cyber security and 
      using open source software. I am very passionate about leadership, 
      coaching and working in highly collaborative teams.
    </p>
    
    <p>
      Outside of work I enjoy cooking new recipes, and eating large portions of food. 
      When I get the opportunity, I love to travel. Sometimes I exercise.
    </p>
    
    <p>
      Content and opinions on this website are my own.
    </p>
  </div>
</section>

{{ content }}